{{ define "author" }}
<!doctype html>
<html lang="en" data-theme="retro">
  {{ template "head" .}}
  <body>
    <div class="flex flex-col gap-2">
      {{ template "navbar" . }}
      <div class="p-4">
        <div class="flex flex-col md:flex-row gap-5">
          <div class="flex-none">
            <div class="avatar">
              <div class="w-32 rounded">
                <img
                  src="{{ .Author.ProfileImage }}"
                  alt="{{ .Author.Name }} Profile Image" />
              </div>
            </div>
          </div>
          <div class="flex-1">
            <div class="flex flex-col">
              <h1><strong>{{ .Author.Name }}</strong></h1>
              <p>{{ .Author.ShortBio }}</p>
            </div>
          </div>
        </div>
        <ul class="list bg-base-100 rounded-box shadow-md">
          <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Works</li>
          {{ range .Books }}
          <li class="list-row">
            <div>
              <img class="size-10 rounded-box" src="{{ .ProfileImage }}" />
            </div>
            <div>
              <div>
                <a href="/books/{{ .ID }}">{{ .Name }}</a>
              </div>
              <div class="text-xs uppercase font-semibold opacity-60">
                {{ range .Authors }}
                <a href="/authors/{{ .ID }}" class="hover:link"
                  >{{ .Name }} <em>({{ .Type}})</em></a
                >
                {{ end }}
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </body>
</html>
{{ end }}
