{{ define "book" }}
<!doctype html>
<html lang="en" data-theme="retro">
  {{ template "head" .}}
  <body>
    <div class="flex flex-col gap-2">
      {{ template "navbar" . }}
      <div class="p-4">
        <div class="flex flex-col md:flex-row gap-5">
          <div class="flex-none">
            <figure class="aspect-2/3 md:w-64 w-full h-auto">
              <img
                src="{{ .Book.ProfileImage}}"
                alt="{{ .Book.Name }} Cover"
                class="w-full h-full object-cover rounded" />
            </figure>
          </div>
          <div class="flex-1">
            <div class="flex flex-col">
              <h1><strong>{{ .Book.Name }}</strong></h1>
              <p>{{ .Book.ShortBlurb }}</p>
              <ul class="list bg-base-100 rounded-box shadow-md">
                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
                  Creator(s)
                </li>
                {{ range .Book.Authors }}
                <a href="/authors/{{ .ID }}">
                  <li class="list-row">
                    <div>
                      <img
                        class="size-10 rounded-box"
                        src="{{ .ProfileImage }}"
                        alt="{{ .Name }} Profile Image" />
                    </div>
                    <div>
                      <div>{{ .Name }}</div>
                      <div class="text-xs uppercase font-semibold opacity-60">
                        <em>({{ .Type }})</em>
                      </div>
                    </div>
                  </li>
                </a>
                {{ end }}
              </ul>
              <div class="flex flex-row gap-1 text-left">
                {{ range .Book.BookBuyLinks }} {{ linkify . }} {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center">
        <ul
          class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact">
          {{ range .Book.ReadingLogs }}
          <li class="select-none">
            <div class="timeline-middle">
              {{ if eq .Finished true }}
              <span class="material-symbols-outlined"> check_circle </span>
              {{ else }}
              <span class="material-symbols-outlined"> circle </span>
              {{ end }}
            </div>
            <div class="timeline-start mb-10 md:text-end">
              <time class="font-mono italic">{{ formatDate .LogDate }}</time>
              <div class="text-lg font-black">
                Current Page: {{ .CurrentPage}}
              </div>
              <p>{{ .Message }}</p>
            </div>
            {{ if eq .Finished false}}
            <hr />
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="p-5 flex-col">
        {{ range .Series }} {{ if eq .PartOfASeries true}}
         <h2 class="text-xl">Part of</h2>
        <a href="/series/{{ .ID }}" class="text-lg hover:underline"
          >{{ .Name }}</a
        >
        {{ end }} {{ end }}
      </div>
    </div>
  </body>
</html>
{{ end }}
