{{ define "index" }}
<!DOCTYPE html>
<html lang="en" data-theme="retro">
   {{ template "head" .}}
   <body>
      <div class="flex flex-col gap-2">
         {{ template "navbar" . }}
         <div class="p-4">

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {{ range .Books }}
                <div class="card bg-base-100 image-full w-full sm:w-56 lg:w-64 shadow-sm">
                <figure class="aspect-2/3">
                    <img
                    src="{{ .ProfileImage}}"
                    alt="{{ .Name }} Cover"
                    class="w-full h-full object-cover" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{ .Name }}</h2>
                    <p>{{ truncate .ShortBlurb 125 }}</p>
                    <div class="card-actions justify-end">
                    <a href="/books/{{ .ID }}" class="btn btn-primary">Go To</a>
                    </div>
                </div>
            </div>
            {{ end }}       

                </div>
         </div>
      </div>
   </body>
</html>
{{ end }}